@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@600&family=Poppins:wght@300;500;800&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.body {
    font-size: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
}

.sidebar {
    width: 0;
    height: -100%;
    background-color: #868686;
    overflow-x: hidden;
    transition: 0.5s;
    position: fixed;
    z-index: 1;
    margin-left: -50px;
}

.show-sidebar {
    width: 250px;

}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
    font-family: 'Sarala', sans-serif;
    color: #FFFFFF;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #ffffff;
}

#menu-button {
    cursor: pointer;
    background: none;
    border: none;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 35px;
    gap: 20px;
    font-family: 'Sarala', sans-serif;
    color: #404040;
}

#menu-button:hover {
    background-color: #797979;
}

#name {
    background: none;
    border: none;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 35px;
    gap: 20px;
    font-family: 'Sarala', sans-serif;
    color: #404040;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}


#img2 {
    border: none;
    max-width: 70vh;
}